In [41]:
json={"name": "text",
      "ADSS": "text);",
      "version": 'number'}

text = [str(k).lower() + " " + str(v).replace(')','').replace(';','').lower()  for k,v in json.items()]

In [42]:
text2 = [f'{k} {v}' for k,v in json.items()]

In [43]:
text2

['name text', 'ADSS text);', 'version number']

In [44]:
textstr = str(text2)

In [45]:
textstr.replace(')','').replace(';','').replace("[", "").replace("]", "").replace("\'", "")

'name text, ADSS text, version number'

In [46]:
str(text).replace("[", "").replace("]", "").replace("\'", "")

'name text, adss text, version number'

In [47]:
from src.LocalDataManager.file_manager import FileManager

In [48]:
base_path= 'data/managed'
# base_path= 'D:/'

db_file='tinker.db'

In [49]:
manager = FileManager(base_path=base_path, db_file=db_file, verbose=True)

2024-04-21 21:13:28,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:13:28,995 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("files")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("files")

2024-04-21 21:13:28,996 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:28,997 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [50]:
# manager.create_metadata_table(json)

In [51]:
# Reading a file 
f = open(r'test/testfile.txt', 'rb')
# f = open(r'test.jpg', 'rb')

In [52]:
f

In [53]:
manager.hash_file(f)

'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08'

In [54]:
manager.save_file(f, 'bronze')

2024-04-21 21:13:29,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:13:29,028 INFO sqlalchemy.engine.Engine SELECT files.hash
FROM files

INFO:sqlalchemy.engine.Engine:SELECT files.hash
FROM files

2024-04-21 21:13:29,028 INFO sqlalchemy.engine.Engine [generated in 0.00084s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00084s] ()

2024-04-21 21:13:29,030 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2024-04-21 21:13:29,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:13:29,032 INFO sqlalchemy.engine.Engine SELECT files.name
FROM files

INFO:sqlalchemy.engine.Engine:SELECT files.name
FROM files

2024-04-21 21:13:29,033 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00076s] ()

2024-04-21 21:13:29,034 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

'testfile.txt already managed.'

In [55]:
df = manager.get_managed_files_df()

2024-04-21 21:13:29,042 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:13:29,043 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("files")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("files")

2024-04-21 21:13:29,044 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,045 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-04-21 21:13:29,046 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,047 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-04-21 21:13:29,047 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,049 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("files")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("files")

2024-04-21 21:13:29,049 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,050 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-04-21 21:13:29,051 INFO sqlalchemy.engine.Engine [raw sql] ('files',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('files',)

2024-04-21 21:13:29,052 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("files")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("files")

2024-04-21 21:13:29,053 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,054 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("files")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("files")

2024-04-21 21:13:29,054 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,056 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-04-21 21:13:29,056 INFO sqlalchemy.engine.Engine [raw sql] ('files',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('files',)

2024-04-21 21:13:29,058 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("files")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("files")

2024-04-21 21:13:29,058 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,059 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("files")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("files")

2024-04-21 21:13:29,060 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,061 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("files")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("files")

2024-04-21 21:13:29,062 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,063 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex_files_1")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_info("sqlite_autoindex_files_1")

2024-04-21 21:13:29,063 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:13:29,064 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-04-21 21:13:29,065 INFO sqlalchemy.engine.Engine [raw sql] ('files',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('files',)

2024-04-21 21:13:29,067 INFO sqlalchemy.engine.Engine SELECT files.hash, files.name, files.location
FROM files

INFO:sqlalchemy.engine.Engine:SELECT files.hash, files.name, files.location
FROM files

2024-04-21 21:13:29,068 INFO sqlalchemy.engine.Engine [generated in 0.00066s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00066s] ()

2024-04-21 21:13:29,069 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [56]:
df

,hash,name,location
0,9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b82...,testfile.txt,data/managed\bronze
1,e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b93...,Management_df.csv,data/managed\silver

In [57]:
manager.save_dataframe(df, name='Management_df', data_level='silver')

2024-04-21 21:13:29,085 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:13:29,087 INFO sqlalchemy.engine.Engine SELECT files.hash
FROM files

INFO:sqlalchemy.engine.Engine:SELECT files.hash
FROM files

2024-04-21 21:13:29,088 INFO sqlalchemy.engine.Engine [cached since 0.06046s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.06046s ago] ()

2024-04-21 21:13:29,089 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2024-04-21 21:13:29,091 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:13:29,091 INFO sqlalchemy.engine.Engine SELECT files.name
FROM files

INFO:sqlalchemy.engine.Engine:SELECT files.name
FROM files

2024-04-21 21:13:29,092 INFO sqlalchemy.engine.Engine [cached since 0.0598s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.0598s ago] ()

2024-04-21 21:13:29,093 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

'Management_df.csv already managed.'

# connect to db for tinkering

In [58]:
import sqlite3
import os
conn = sqlite3.connect(os.path.join(base_path, db_file))

In [59]:
# Getting all tables from sqlite_master
sql_query = """SELECT name FROM sqlite_master 
WHERE type='table';"""


def execute_query(conn, query):
    # Creating cursor object using connection object
    cursor = conn.cursor()
        
    # executing our sql query
    cursor.execute(query)
        
    results = cursor.fetchall()
    # printing all tables list
    return results, cursor

execute_query(conn, sql_query)

([('files',)], <sqlite3.Cursor at 0x19682785b40>)

In [60]:
sql_query = """SELECT * FROM metadata;"""
res, cursor = execute_query(conn, sql_query)

cursor.description

OperationalError: no such table: metadata

# close the connection to the db and delete the folders

In [ ]:
import shutil
manager.close_connection()
conn.close()
shutil.rmtree(base_path)

# misc

In [ ]:
from typing import List
from typing import Optional
from sqlalchemy import ForeignKey
from sqlalchemy import String
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship

class Base(DeclarativeBase):
    pass

class User(Base):
    __tablename__ = "user_account"
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    fullname: Mapped[Optional[str]]
    addresses: Mapped[List["Address"]] = relationship(
        back_populates="user", cascade="all, delete-orphan"
    )
    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"
    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str]
    user_id: Mapped[int] = mapped_column(ForeignKey("user_account.id"))
    user: Mapped["User"] = relationship(back_populates="addresses")
    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [ ]:
from sqlalchemy import create_engine
import os
engine = create_engine(os.path.join("sqlite:///",base_path, db_file), echo=True)
Base.metadata.create_all(engine)

2024-04-21 21:04:14,762 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:04:14,763 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("user_account")

2024-04-21 21:04:14,764 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:04:14,765 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("user_account")

2024-04-21 21:04:14,765 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:04:14,767 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("address")

2024-04-21 21:04:14,767 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:04:14,768 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("address")

2024-04-21 21:04:14,769 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-21 21:04:14,770 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2024-04-21 21:04:14,771 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00061s] ()

2024-04-21 21:04:14,774 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE address (
	id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)

2024-04-21 21:04:14,775 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00075s] ()

2024-04-21 21:04:14,778 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
from sqlalchemy.orm import Session

with Session(engine) as session:
    spongebob = User(
        name="spongebob",
        fullname="Spongebob Squarepants",
        addresses=[Address(email_address="spongebob@sqlalchemy.org")],
    )
    sandy = User(
        name="sandy",
        fullname="Sandy Cheeks",
        addresses=[
            Address(email_address="sandy@sqlalchemy.org"),
            Address(email_address="sandy@squirrelpower.org"),
        ],
    )
    patrick = User(name="patrick", fullname="Patrick Star")
    session.add_all([spongebob, sandy, patrick])
    session.commit()

2024-04-21 21:04:15,630 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:04:15,632 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id

2024-04-21 21:04:15,634 INFO sqlalchemy.engine.Engine [generated in 0.00010s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('spongebob', 'Spongebob Squarepants')

INFO:sqlalchemy.engine.Engine:[generated in 0.00010s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('spongebob', 'Spongebob Squarepants')

2024-04-21 21:04:15,635 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id

2024-04-21 21:04:15,636 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('sandy', 'Sandy Cheeks')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/3 (ordered; batch not supported)] ('sandy', 'Sandy Cheeks')

2024-04-21 21:04:15,637 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id

2024-04-21 21:04:15,638 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('patrick', 'Patrick Star')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/3 (ordered; batch not supported)] ('patrick', 'Patrick Star')

2024-04-21 21:04:15,640 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO address (email_address, user_id) VALUES (?, ?) RETURNING id

2024-04-21 21:04:15,640 INFO sqlalchemy.engine.Engine [generated in 0.00010s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('spongebob@sqlalchemy.org', 1)

INFO:sqlalchemy.engine.Engine:[generated in 0.00010s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('spongebob@sqlalchemy.org', 1)

2024-04-21 21:04:15,641 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO address (email_address, user_id) VALUES (?, ?) RETURNING id

2024-04-21 21:04:15,642 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('sandy@sqlalchemy.org', 2)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/3 (ordered; batch not supported)] ('sandy@sqlalchemy.org', 2)

2024-04-21 21:04:15,642 INFO sqlalchemy.engine.Engine INSERT INTO address (email_address, user_id) VALUES (?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO address (email_address, user_id) VALUES (?, ?) RETURNING id

2024-04-21 21:04:15,644 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('sandy@squirrelpower.org', 2)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/3 (ordered; batch not supported)] ('sandy@squirrelpower.org', 2)

2024-04-21 21:04:15,646 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
from sqlalchemy import select

session = Session(engine)

stmt = select(User)

for user in session.scalars(stmt):
    print(user)

2024-04-21 21:04:22,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-21 21:04:22,573 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

INFO:sqlalchemy.engine.Engine:SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

2024-04-21 21:04:22,573 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00086s] ()

User(id=1, name='spongebob', fullname='Spongebob Squarepants')
User(id=2, name='sandy', fullname='Sandy Cheeks')
User(id=3, name='patrick', fullname='Patrick Star')

In [ ]:
list(session.scalars(stmt))

2024-04-21 21:04:37,018 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

INFO:sqlalchemy.engine.Engine:SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account

2024-04-21 21:04:37,018 INFO sqlalchemy.engine.Engine [cached since 14.45s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 14.45s ago] ()

[User(id=1, name='spongebob', fullname='Spongebob Squarepants'),
 User(id=2, name='sandy', fullname='Sandy Cheeks'),
 User(id=3, name='patrick', fullname='Patrick Star')]

AttributeError: type object 'User' has no attribute 'query'